{% extends "base.html" %}
{% block content %}

<h1>Contact</h1>
Below are some ways to contact us, to get involved and to follow us.

<h3>Email</h3>
For direct inquiries: info at diriwa.org

<h3>IRC</h3>
Most of the people involved in the DiRiWa project use IRC in order to communicate in real time. We are located at the telecomix network. If you would
like to join our channel please take a look at the <a href="http://chat.telecomix.org/">chat page</a> of telecomix. If you would to connect directly
using an existing irc client please use this  <a href="ircs://#diriwa@irc.telecomix.org/">direct link</a>.

<h3>Get involved</h3>
The best way to get involved and up to date, is by subscriving to our <a href="https://lists.puscii.nl/wws/info/diriwa">mailinglist</a>.

If you are good with code, data and/or visualisations and would like to help out, please git clone our. <a href="https://github.com/DiRiWa/DiRiWa">git
repository</a>. <br />

<h3>Follow us</h3>
Follow us on <a href="https://twitter.com/#!/diriwa">twitter</a>!

{% endblock %}
