{% extends "base.html" %}
{% block content %}

<h1>Credits</h1>

DiRiWa is developed by some nice people.

<ul>
	<li>Smári McCarthy</li>
	<li>Marsiske Stefan</li>
	<li>And some others...</li>
</ul>

We are very gratious for the nice people of 
<ul>
   <li>The <a href="http://opennet.net/research/data">Open Net Initiative to release their findings</a> under a CC-By licence</li>
   <li><a href="http://opencorporates.com/">OpenCorporates to release their findings</a> under a CC-By-SA licence</li>
</ul>

{% endblock %}
