{% extends "base.html" %}
{% block actions %}
		<a href="/regions/{{region.id}}/sections/add/" class="btn">Add a section</a>
		<a href="/regions/{{region.id}}/news/add/" class="btn">Add news item</a>
		<a href="/regions/{{region.id}}/links/add/" class="btn">Add link</a>
		<a href="/regions/{{region.id}}/memberships/add/" class="btn">Edit memberships</a>
{% endblock %}
{% block scripts %}
   <script type="text/javascript" src="/static/js/script.min.js"></script>
   <script type="text/javascript">
      $script(['/static/js/jquery.js'], 'jquery');
      $script(['/static/js/raphael.min.js'], 'raphael');
   </script>
   <script type="text/javascript" src="/static/js/charts.js"></script>
{% endblock %}
{% block content %}

{% if region.shortname %}
<h1>{{region.shortname}}{% if region.name %} <small>({{region.name}})</small>{% endif %}</h1>
{% else %}
<h1>{{region.name}}</h1>
{% endif %}
	
<div class="content">
	<div class="row">
		<div class="span6">
			<h2>Table of Contents</h2>
			<div class="well">
			<ul>
			{% for section in region.section_set.all %}		
				<li><a href="#section-{{section.topic.name|slugify}}-{{section.id}}">{{section.topic.name}}</a></li>
			{% empty %}
				<li><a href="/regions/{{region.id}}/sections/add/">This {{region.type.name|lower}} has no information registered about it. Please help DiRiWa grow by adding some information!</a></li>
			{% endfor %}
         {% if region.relitem.count %}
				<li><a href="#news">News</a></li>
         {% endif %}
				<li><a href="#memberships">Memberships</a></li>
				<li><a href="#statistics">Statistics</a></li>
			</ul>
			</div>
		</div>
	</div>

	{% if region.section_set.count %}
	<hr/>
	<div class="row">
			<h2>Overall Digital Rights Situation</h2>
	</div>
	{% endif %}

	<div class="row">
      {% for section in region.section_set.all %}
         {% include "diriwa/section_display.html" %}
      {% empty %}
         {% for topic in citations.values %}
         <div class="span16 topic" id="{{topic.topic.name}}">
            <h2><a href="/topics/{{topic.topic.id}}">{{topic.topic.name}}</a></h2>
            {% if topic.citations %}
               {% regroup topic.citations by source as quotes %}

               {% for quote in quotes %}
                  <div class="source-container">
                     <span class="span3 bargraph"></span>
                     <span class="span8 quotes">
                        {% for item in quote.list %}
                           <p class="quote"><span class="rating-label">{{ item.rating_label }}</span> {% if not item.score == None %}<span class="score">{{ item.score|floatformat }}</span> (out of <span class="maxscore">{{item.maxscore|floatformat}}</span>){%endif%} {% if item.rating %}<span class="rating">{{ item.rating }}</span>{%endif%} <small>{{ item.text|linebreaks|urlize }}</small></p>
                        {% endfor %}
                     </span>
                     <div class="span8 ref-credit">
                        <h4>Source: <span class="source">{{ quote.grouper }}</span></h4>
                        <a class="more-button">Attribution</a><blockquote><small>{{ quote.grouper.attribution|linebreaks }}</small></blockquote>
                     </div>
                  </div>
               {% endfor %}
            {% endif %}
         </div>
         {% endfor %}
      {% endfor %}
	</div>


	{% if region.relitem.count %}
   <a name="news" ></a>
	<div class="row">
      <h2>News</h2>
	  {% for item in region.relitem.all|slice:":6" %}
	        {% include "diriwa/newsitem_display.html" %}
	  {% endfor %}
	</div>
	<div class="row">
	  {% if region.relitem.count > 6 %}
	        <a class="btn btn-large" href="/regions/{{region.id}}/news/">More news! &raquo;</a>
	  {% endif %}
	</div>
	{% endif %}

			

	<hr/>
   <div class="row"><a name="memberships" ></a>
		{% if region.agreements %}
		<div class="span4">
			<h2>International agreements in the region</h2>
			<div class="biglist">
			        <input type="search" onkeyup="biglist_filter(this);"/>
			        <ul>
				{% for i in region.agreements %}
				        <li><a href="/regions/{{i.region.id}}/">{{i}}</a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}
	
		{% if region.treaties %}
		<div class="span4">
			<h2>International agreements</h2>
			<div class="biglist">
			       <input type="search" onkeyup="biglist_filter(this);"/>
			       <ul>
				 {% for i in region.treaties %}
				     <li><a href="/regions/{{i.region.id}}/">{{i.region}}</a>{% if i.type %} <small>({{i.type}})</small>{% endif %}</li>
				 {% endfor %}
			       </ul>
			</div>
		</div>
		{% endif %}

		{% if region.unions or region.geographical %}
		<div class="span4">
			<h2>Unions and regional relations</h2>
			<div class="biglist">
			  <input type="search" onkeyup="biglist_filter(this);"/>
			  <ul>
			{% for i in region.unions %}
				<li><a href="/regions/{{i.region.id}}/">{{i.region}}</a>{% if i.type %} <small>({{i.type}})</small>{% endif %}</li>
			{% endfor %}
			{% for i in region.geographical %}
				<li><a href="/regions/{{i.region.id}}/">{{i.region}}</a>{% if i.type %} <small>({{i.type}})</small>{% endif %}</li>
			{% endfor %}
			  </ul>
			</div>
		</div>
		{% endif %}

		{% if region.regionmembers.count %}
		<div class="span4"> 
			<h2>
				{% if region.type.name == "Country" %}Dependencies{% endif %}
				{% if region.type.name == "Union" %}Members{% endif %}
				{% if region.type.name == "Geographic region" %}Countries{% endif %}
				{% if region.type.name == "Block" %}Countries{% endif %}
				{% if region.type.name == "Treaty" %}Signatories{% endif %}
			</h2>
			<div class="biglist">
			  <input type="search" onkeyup="biglist_filter(this);"/>
			  <ul>
				{% for country in region.regionmembers.all %}
				<li><a href="/regions/{{country.id}}/">{{country.shortname}}</a></li>
				{% endfor %}
			  </ul>
			</div>
		</div>

		{% endif %}
	</div>

	<div class="row">
      <div class="span6"><a name="statistics"></a>
			<h2>Region statistics</h2>
			<table class="table table-bordered table-condensed">
			{% if region.regionmembers.count %}<tr> <td>{% if region.type.name == "Country" %}Dependencies{%else%}Countries{%endif%}:</td><td>{{region.regionmembers.count}}</td> 	</tr> {% endif %}
			<tr> <td>Population:</td><td>{{region.population}}</td>			</tr>
			<tr> <td>Region type:</td><td>{{region.type}}</td>			</tr>
			{% if region.url %}<tr> <td>Website:</td><td><a href="{{region.url}}">{{region.url}}</a></td></tr>{% endif %}
			{% if region.itu_t %}<tr> <td>Dialing prefix:</td><td>{{region.itu_t}}</td></tr>{% endif %}
			{% if region.deptype %}<tr> <td>Political status:</td><td>{{region.deptype}}{% if region.depsubtype %}, {{region.depsubtype}}{%endif%}</td></tr>{% endif %}
			{% if region.capital %}<tr> <td>Capital:</td><td><a href="http://en.wikipedia.org/wiki/{{region.capital}}">{{region.capital}}</a></td></tr>{% endif %}
			{% if region.currency %}<tr> <td>Currency:</td><td>{{region.currency}}</td></tr>{% endif %}
			{% if region.languages.count %}<tr> <td>Languages:</td><td>{% for lang in region.languages %}{{lang}}, {%endfor%}</td></tr>{% endif %}
			</table>
		</div>
	</div>


</div>

{% endblock %}
