<a name="section-{{section.topic.name|slugify}}-{{section.id}}"></a>
<div class="span16 section">
<a href="/sections/edit/{{section.id}}/" class="btn btn-mini right">Edit this section</a>
<h2>{{section.topic.name}}</h2>
<div class="vote">
	<p>Severity: <span id="vote_severity_{{section.id}}">{{section.severity}}</span>/10</p>
	<p>Votes: <span id="vote_count_{{section.id}}">{{section.votes}}</span></p>
	<p>Vote! <span id="vote_num_{{section.id}}">1</span>/10	<div id="vote_{{section.id}}"></div></p>
	<script>
	$(function() {
		$("#vote_{{section.id}}").slider({
			value:1,
			min: 1,
			max: 10,
			step: 1,
			stop: function( event, ui ) {
				var val = $("#vote_{{section.id}}").slider("value")
				$("#vote_num_{{section.id}}").text(val);
				$.getJSON("/sections/vote/", {'section': {{section.id}}, 'vote': val}, function(data) {
					if (data.ok) {
						$("#vote_severity_{{section.id}}").html(data.severity);
						$("#vote_count_{{section.id}}").html(data.votes);
						// Done.
					} else {
						// Error.
					}
				});
			}
		});
	});
	</script>
</div>

{{section.wikitext|safe}}

{% if section.topic.name in citations.keys %}
      {% for topic in citations.values %}
         {% if topic.topic.name == section.topic.name and topic.citations %}
            <h3>Quotes</h3>
            {% regroup topic.citations by source as quotes %}

            {% for quote in quotes %}
               <div class="source-container">
                  <span class="span3 bargraph"></span>
                  <span class="span8 quotes">
                     {% for item in quote.list %}
                        <p class="quote"><span class="rating-label">{{ item.rating_label }}</span> {% if not item.score == None %}<span class="score">{{ item.score|floatformat }}</span> (out of <span class="maxscore">{{item.maxscore|floatformat}}</span>){%endif%} {% if item.rating %}<span class="rating">{{ item.rating }}</span>{%endif%} <small>{{ item.text|linebreaks|urlize }}</small></p>
                     {% endfor %}
                  </span>
                  <div class="span8 ref-credit">
                     <h4>Source: <span class="source">{{ quote.grouper }}</span></h4>
                     <a class="more-button">Attribution</a><blockquote><small>{{ quote.grouper.attribution|linebreaks }}</small></blockquote>
                  </div>
               </div>
            {% endfor %}
         {%endif%}
      {% endfor %}
{%endif%}
</div>
