{% extends "base.html" %}
{% block scripts %}
   <script type="text/javascript">
      var topicid={{topic.id}};
   </script>
   <script type="text/javascript" src="/static/js/script.min.js"></script>
   <script type="text/javascript" src="/static/js/map.js"></script>
   <script type="text/javascript" src="/static/js/charts.js"></script>

{% endblock %}
{% block content %}

<div class="span8 right" style="text-align: center;">
		<a href="/sections/add/" class="btn">Add a section</a>
		<a href="/topics/add/" class="btn">Create new topic</a>
</div>
<h1>{{topic.name}}</h1>

<div class="span12 hidden" id="mapnav">
   <h3>Source</h3>
   <p id='sources'></p>
   <h3>Measure</h3>
   <p id='measures'></p>
</div>
<div class="span12">
   <div id="map">&nbsp;</div>
</div>

{% for region in citations %}
<div class="span16 topic" id="{{region.region.region.isocode}}">
   <h2><a href="/regions/{{region.region.region.id}}">{% if region.region.region.name %}{{region.region.region.name}}{%else%}{{region.region.region.shortname}}{%endif%}</a></h2>
   {% if region.section %}
   {{region.section.wikitext|safe}}
   {% else %}
   <p>Theres no info on this section yet, if you know some expert of {{topic.name}} in the {{region.region.region.name}}, nudge her or him to fill in the blanks. Thanks!</p>
   {% endif %}
   <a href="/sections/edit/{{region.section.id}}/" class="btn small right">Edit this discussion</a>
   {% if region.citations %}
      <h3>Citations</h3>
      {% regroup region.citations by source as quotes %}

      {% for quote in quotes %}
         <div class="source-container">
            <span class="span3 bargraph"></span>
            <span class="span8 quotes">
               {% for item in quote.list %}
                  <p class="quote"><span class="rating-label">{{ item.rating_label }}</span> {% if not item.score == None %}<span class="score">{{ item.score|floatformat }}</span> (out of <span class="maxscore">{{item.maxscore|floatformat}}</span>){%endif%} {% if item.rating %}<span class="rating">{{ item.rating }}</span>{%endif%} <small>{{ item.text|linebreaks|urlize }}</small></p>
               {% endfor %}
            </span>
            <div class="span8 ref-credit">
               <h4>Source: <span class="source">{{ quote.grouper }}</span></h4>
               <a class="more-button">Attribution</a><blockquote><small>{{ quote.grouper.attribution|linebreaks }}</small></blockquote>
            </div>
         </div>
      {% endfor %}
   {% endif %}
</div>
{% endfor %}

{% if topic.relitem.count %}
   <div class="row">
     <h2>News</h2>
     {% for item in topic.relitem.all|slice:":6" %}
        {% include "diriwa/newsitem_display.html" %}
     {% endfor %}
   </div>
   {% if topic.relitem.count > 6 %}
      <div class="row">
        <a class="btn btn-large" href="/topics/{{topic.id}}/news/">More news! &raquo;</a>
      </div>
   {% endif %}
{% endif %}

{% endblock %}
